@{
    ViewBag.Title = "Home Page";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('../../Photo/h_index.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}
<div class="jumbotron" style="        background-image: url('../../Photo/back2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
">
    <h1>Kacchi Vhai</h1>
    <p class="lead">Kacchi Vhai is a renowned restaurant now serving online.</p>
    <p><a href="https://www.facebook.com/kacchivhai/" class="btn btn-primary btn-lg">Visit Our FaceBook Page &raquo;</a></p>
</div>

<div class="row" style="background-image: url('../../Photo/back2.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="col-md-6 text-center">
        <h2>Order Now</h2>
        <p>
            A large number of delivery boy is ready to deliver your place.
        </p>
        <p>
            <a class="btn btn-default" href="https://www.foodpanda.com.bd/chain/cw0gk/kacchi-bhai">Read more &raquo;</a>
        </p>
    </div>
    <div class="col-md-6 text-center">
        <h2>Visit Now</h2>
        <p>
            We also provide a large space.
        </p>
        <p>
            <a class="btn btn-default" href="https://www.google.com/search?tbm=lcl&sxsrf=ACYBGNR_hes_fNiiFy3wWfVxHLlKmjV5jw%3A1578846416984&ei=0EgbXrPOO9ngrQGFopLYBg&q=restaurant&oq=restaurant&gs_l=psy-ab.12...0.0.0.6295.0.0.0.0.0.0.0.0..0.0....0...1c..64.psy-ab..0.0.0....0.d0tXxejraKg#rlfi=hd:;si:11692796953517480906,l,CgpyZXN0YXVyYW50SPGHg6iOr4CACFocCgpyZXN0YXVyYW50EAAYACIKcmVzdGF1cmFudA,y,1YPxOaS90iw;mv:[[23.810452599999998,90.3723172],[23.804269599999998,90.3601169]]">Read more &raquo;</a>
        </p>
    </div>

</div>